*{
  font-family: Arial;
}
body {
    margin: 0;
    background: #daf0f3;
    display: flex;
    
    align-items: center;
    height: 100vh;
    
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #25b0d3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #a83fc0;
  }

  .violeta.light {
    background: #e898f8;
  }

  .naranja {
    background: #e4861c;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #61be39;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 200px);
    border-radius: 5px;
  }

  .hide {
    display: none;
  }



  @media(max-width: 500px){

    .btn-start {
      width: 300px;
      height: 80px;
      background: #ecf0f1;
      color: #2c3e50;
      font-size: 2rem;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 150px);
      border-radius: 5px;
    }



  }

